.container
  %p#notice= notice

  %p
    %b Title:
    = @symptom.title
  %p
    %b Description:
    = @symptom.description
  %p
    %b Age min:
    = @symptom.age_min
  %p
    %b Age max:
    = @symptom.age_max
  %p
    %b Gender:
    = @symptom.gender
  %p
    %b Position:
    = @symptom.position
  %p
    %b Parent:
    = @symptom.parent_id
  %p
    %b Diagnosis:
    = @symptom.diagnosis

  = link_to 'Edit', edit_symptom_path(@symptom)
  \|
  = link_to 'Back', symptoms_path
