- Medication.medication_types.each do |t|
  - meds = medications.where(medication_type: t.first)
  
  = content_for(:nav_tabs) do
    %li.nav-item
      %a#over-the-counter-tab.nav-link{"aria-controls" => "over-the-counter", "aria-selected" => "true", "data-toggle" => "tab", href: "##{t.first}", role: "tab", class: "#{'active' if t.last == 0}"}
        = t.first.humanize.titleize

  = content_for(:nav_content) do
    .tab-pane.fade{"aria-labelledby" => "over-the-counter-tab", role: "tabpanel", id: "#{t.first}", class: "#{'active show' if t.last == 0}"}
      - if meds.present?
        .row
          - meds.each do |med|
            .col-sm-4.text-center
              .col-3-image
                = image_tag med.image if med.image.attached?
              %hr
              %p.brand-name
                = med.title
              %p= med.description

              .text-center
                = link_to "Read More", medication_path(med, patient_case_id: @patient_case.id), class: 'btn read-more-btn'
      - else
        %p.lead
          There are no medication for
          = JSON.parse(patient_case.diagnosis_attributes)['title']
          listed as
          = "'#{t.first.humanize.titleize}'"

/ Nav tabs
%ul#summary-tab.nav.nav-fill.nav-tabs{role: "tablist"}
  = yield(:nav_tabs)

/ Tab panes
#summary-tab-content.tab-content
  = yield(:nav_content)