.container.text-center
  %h1= @medication.title
  = image_tag @medication.image if @medication.image.attached?
  %p
    %b Medication details:&nbsp;
    = @medication.description

  %hr

  %h2
    Secondary Treatments

  %br
  
  = render 'public/medications/medication_overview', patient_case: @patient_case, medications: @secondary_medications

  .center-btn-container
    = link_to 'Back to Products', :back, class: 'btn btn-white'
    = link_to 'Start Over', new_patient_case_path, class: 'btn'
