.container
  .row
    .col-sm-4
      .col-2-image
        = image_tag("Xlear")
    .col-sm-8.align-text-left
      %p
        %b Gender:
        = @patient_case.gender
      %p
        %b Age:
        = @patient_case.age
      %p
        %b Symptom:
        = @patient_case.symptom
      %p
        %b Diagnosis:
        = @patient_case.diagnosis
      %p
        %b Diagnosis attributes:
        = @patient_case.diagnosis_attributes
      %p
        %b Medication attributes:
        = @patient_case.medication_attributes

      %p
        %b Available Medications
      - Medication.within_age_range(@patient_case.age).each do |medication|
        %p
          = medication.title
          = medication.age_min
          = medication.age_max

      %p
        %b Available Diagnosis
      - Diagnosis.within_age_range(@patient_case.age).each do |diagnosis|
        %p
          = diagnosis.title
          = diagnosis.age_min
          = diagnosis.age_max

  .center-btn-container
    = link_to 'Back to Products', summary_patient_case_path, class: 'btn btn-white'
    = link_to 'Start Over', new_patient_case_path, class: 'btn'

