.container.results
  %h1 Your Result
  %p Based on your selections and exclusions, we've identified the following products that are available in the store.

  %strong.medicine-title= JSON.parse(@patient_case.diagnosis_attributes)['title']
  %p= JSON.parse(@patient_case.diagnosis_attributes)['description']
    
  .row
    - JSON.parse(@patient_case.medication_attributes).first(3).each do |medication|
      .col-sm-4.text-center
        .col-3-image
          = image_tag("Sudafed")
        %hr
        %p
          = medication['title']
        %p= medication['description']

        .text-center
          = link_to "Read More", patient_case_path, class: 'btn read-more-btn'

  .text-center
    = link_to "Start Over", new_patient_case_path, class: 'btn'
