.container.container-sm
  %ul.pagination
    %li
      .circle{ class: "#{'active' if @symptoms.first.level == 1}" } 1
    %li
      .circle{ class: "#{'active' if @symptoms.first.level == 2}" } 2
    %li
      .circle{ class: "#{'active' if @symptoms.first.level == 3}" } 3
    %li
      .circle{ class: "#{'active' if @symptoms.first.level == 4}" } 4
    
  - if @symptoms.first.level == 1
    %h1 Select a Primary Complaint Area

  - elsif @symptoms.first.level == 2
    %h1 What's Bothering You?

  - elsif @symptoms.first.level == 3
    %h1 Select Symptom Complaints

  - elsif @symptoms.first.level == 4
    %h1 One Last Step!
    %p Based on your previous selections, we've narrowed it down to the following. Choose what feels the most likely.

  = simple_form_for('', url: url_for(), method: :get) do |f|
    %ul.list-inline.force-selection
      - @symptoms.each do |symptom|
        %li
          = link_to '#', class: 'list-inline-item symptom-tier list-inline-bullet symptom-select', data: { symptom: symptom.id } do
            %strong= symptom.title
            %br
            = symptom.description

    .form-inputs
      = f.input :symptom_id, as: :hidden, input_html: { class: 'symptom-value' }

    .center-btn-container{"data-turbolinks" => "false"}
      - if @patient_case.new_record?
        = f.submit 'Begin Diagnosis', class: 'btn'
      - else
          
        - if @parent_symptom.present?
          = link_to 'Back', symptoms_patient_case_path(@patient_case, symptom_id: @parent_symptom.parent_id), class: 'btn btn-white'
        - else
          = link_to 'Back', new_patient_case_path, class: 'btn btn-white'

        = f.submit 'Next', class: 'btn btn-primary'