-# frozen_string_literal: true
= simple_form_for(@patient_case) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  - unless @patient_case.id
    .form-inputs
      = f.input :gender, collection: Diagnosis.genders.keys[1..2], include_blank: 'Select Gender', input_html: { class: 'form-control' }
      = f.input :age, collection: (1..120), include_blank: 'Select Age', input_html: { class: 'form-control' }

  - else
    - unless @patient_case.symptom.present?
      %ul.list-inline
        - @symptoms.each do |symptom|
          %li.list-inline-item.symptom-tier{ id: symptom.id }
            %i.fas.fa-circle
            - if symptom.symptoms.count == 0
              = link_to symptom.title, patient_case_path(patient_case: {symptom_id: symptom.id}), method: :put, id: symptom.id
            - else
              = link_to symptom.title, url_for(symptom_id: symptom.id), id: symptom.id

      .form-inputs
        = f.input :symptom_id, as: :hidden
    - else
      .form-inputs
        = f.association :considerations, collection: @considerations, as: :check_boxes

  .center-btn
    - if @patient_case.new_record?
      = f.submit 'Begin Diagnosis', class: 'btn'
    - else
      .btn
        = link_to "Back", :back
      = f.submit 'Next', class: 'btn'


/ = link_to 'Restart', new_patient_case_path
/ %span
/   |
/ = render 'overview'
