-# frozen_string_literal: true
= simple_form_for(@patient_case) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :gender, collection: Diagnosis.genders.keys, include_blank: false
    = f.input :age, collection: (0..120), include_blank: false
    -# = f.association :symptom
    -# = f.association :diagnosis
    -# = f.input :diagnosis_attributes
    -# = f.input :medication_attributes

  .form-actions
    = f.button :submit
