= link_to 'Verify', '#', class: 'admin-verify toggleable', data: { toggleable: '.admin-verify-content' }

.admin-verify-content
  %p
    %b Gender:
    = @patient_case.gender
  %p
    %b Age:
    = @patient_case.age
  
  %h2
    Considerations
  %ul
    - @patient_case.considerations.each do |consideration|
      %li
        = consideration.title

  %h2
    Available Medications
  %ul
    - @patient_case.potential_medications.each do |medication|
      %li
        = medication.title
        = medication.age_min
        = medication.age_max
        = medication.gender
        = medication.considerations.map {|c| c.title}

  %h2
    Available Diagnosis
  %ul
    - @patient_case.potential_diagnosis.each do |diagnosis|
      %li
        = diagnosis.title
        = diagnosis.age_min
        = diagnosis.age_max
        = diagnosis.gender
