
%p
  %b Diagnosis:
  = @patient_case.diagnosis
%p
  %b Diagnosis attributes:
  = @patient_case.diagnosis_attributes
%p
  %b Medication attributes:
  = @patient_case.medication_attributes

= link_to 'Edit', edit_patient_case_path(@patient_case)
\|
= link_to 'Back', patient_cases_path

= render 'overview'

