= render 'nav'
.container
  %h1 Your Result
  %strong= JSON.parse(@patient_case.diagnosis_attributes)['title']
  %p
    = JSON.parse(@patient_case.diagnosis_attributes)['description']

  %p Medications:
  - JSON.parse(@patient_case.medication_attributes).each do |medication|
    %p
      = medication['title']
    %p= medication['description']

  = render 'overview'
