= render 'nav'
.container.results
  %h1 Your Result
  %p Based on your selections and exclusions, we've identified the following products that are available in the store.
  .result-image
    = image_tag("Sudafed")
  %hr
  %strong.medcine-title= JSON.parse(@patient_case.diagnosis_attributes)['title']
  %p
    = JSON.parse(@patient_case.diagnosis_attributes)['description']

  .row
    - JSON.parse(@patient_case.medication_attributes).each do |medication|
      .col-lg-4
        %p
          = medication['title']
        %p= medication['description']

        .center-btn
          %p.read-more-btn
            = link_to "Read More", new_patient_case_path

  .center-btn
    %p.btn
      = link_to "Start Over", new_patient_case_path

/ = render 'overview'
