%p
  %b Gender:
  = @patient_case.gender
%p
  %b Age:
  = @patient_case.age

%ul.list-inline
  - @tier_1_symptoms.each do |symptom|
    %li.symptom-tier.tier-1{ id: symptom.id }
      = link_to symptom.title, '#', id: symptom.id, data: { children: symptom.symptoms.ids }

%ul.list-inline
  - @tier_2_symptoms.each do |symptom|
    %li.symptom-tier.tier-2{ id: symptom.id }
      = link_to symptom.title, '#', data: { children: symptom.symptoms.ids }

%ul.list-inline
  - @tier_3_symptoms.each do |symptom|
    %li.symptom-tier.tier-3{ id: symptom.id }
      = link_to symptom.title, '#', data: { children: symptom.symptoms.ids }

-# frozen_string_literal: true
= simple_form_for(@patient_case) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :symptom_id

  .form-actions
    = f.button :submit

= render 'overview'
